{% extends  "pages/base.html"%}
{%block head%}
    {%load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}
{%block user%}
    {% if user.is_anonymous%}
        <li><a href="/login">Đăng nhập</a></li>
        <li><a href="/register">Đăng Ký</a></li>
    {% else %}

    {% endif %}
{%   endblock %}

{%block logout%}
    {% if user.is_anonymous %}
    {% else %}
        <li><a href="/edit">Sửa thông tin</a></li>
        <li><a href="/logout">Đăng xuất</a></li>
    {% endif %}
{%   endblock %}


{%block content%}

    <form action="/app/find" method="post">
        {%csrf_token%}
        <h1>Tìm kiếm sản phẩm</h1><br/>

        <span class="input"></span>
        <input type="text" name="label" value="id" placeholder="Label" autofocus autocomplete="off" required/>
        <span class="input"></span>
        <input type="text" name="key" placeholder="Key" required pattern="[0-9]+"/>
        <button type="submit"  title="Submit form" class="icon-arrow-right"><span>Tìm kiếm</span></button>
    </form>

{% endblock %}
